nav {
	background-color: white;
	left: 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

nav ul {
	float: right;
	list-style: none;
}

nav li {
	float: left;
	text-transform: uppercase;
}

#home {
	height: 25em;
	margin-top: 4em;
	position: relative;
}

#typing::after {
	content: '|';
	font-size: 2em;
	position: relative;
	top: 0.2em;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

@-webkit-keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

@-moz-keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

@-ms-keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

@-o-keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

#logo-animation {
	bottom: 0;
	position: absolute;
	right: 0;
}

#projects img {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;
}

#projects img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.container {
	height: 300px;
	overflow: hidden;
	width: 500px;
}
