body {
	font-family: Arial, sans-serif;
	min-width: 350px;
}

/**********
Navigation
**********/
nav {
	background-color: white;
	left: 0;
	min-width: 350px;
	padding-bottom: 1em;
	padding-top: 1em;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

nav img {
	margin-left: 0.5em;
}

nav ul {
	float: right;
	list-style: none;
	margin-top: 1em;
}

nav li {
	cursor: pointer;
	float: left;
	font-weight: bolder;
	margin-left: 0.5em;
	margin-right: 0.5em;
	text-transform: uppercase;
}

/**********
Home
**********/
#home {
	height: 30em;
	margin-top: 6em;
	position: relative;
}

#home h1 {
	font-size: 1.8em;
	line-height: 1.8em;
	text-align: center;
}

#typing {
	font-size: 1.8em;
	font-weight: bolder;
	text-align: center;
}

#typing::after {
	content: '|';
	font-size: 2em;
	position: relative;
	top: 0.2em;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

@-webkit-keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

@-moz-keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

@-ms-keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

@-o-keyframes "blink" {
	from, to {
		color: transparent;
	}

	50% {
		color: black;
	}
}

#logo-animation {
	bottom: 0;
	position: absolute;
	right: 0;
	width: 40%;
}

/**********
About Me
**********/
#about-me {
	background-color: #181a1b;
	color: white;
	padding: 1em 1em 4em 1em;
}

#about-me img {
	display: block;
	margin: 2em auto 1em auto;
}

#about-me h2 {
	font-size: 1.4em;
	margin-bottom: 1em;
	text-align: center;
}

#about-me p {
	line-height: 1.6em;
}

#skills h3 {
	display: inline-block;
	font-size: 1.2em;
	margin-bottom: 1em;
	margin-top: 2em;
}

#skills img {
	display: inline-block;
	margin: 0;
}

/**********
Projects
**********/
.container {
	height: 25em;
	overflow: hidden;
}

.photo {
	background-size: cover;
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;
}

.photo:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

@media(min-width: 600px) {
	/**********
	Navigation
	**********/

	/**********
	Home
	**********/
	#home h1,
	#typing {
		text-align: left;
	}

	#logo-animation {
		right: 0.5em;
		width: 10em;
	}

	/**********
	About Me
	**********/

	/**********
	Projects
	**********/
}
