html, body {
	height: 100%;
}

.container {
	background-color: #f4f4f4;
	height: 100%;
}

header {
	background-color: #333;
	padding: 1.5rem 0 1.5rem 0;
	text-align: center;
}

#intro {
	background-color: #444444;
	padding: 2.1rem 0;
}

h2 {
	color: #8c8c8c;
	font-size: 1.6rem;
	text-align: center;
}

h2 strong {
	color: white;
	font-weight: 300;
}

h2 strong:after {
	white-space: pre-wrap;
	content: '\A';
}

nav > ul {
	background-image: url('/05_Dribbble/assets/spritesheet.png');
	background-repeat: no-repeat;
	background-position: -1.6rem -0.2rem;
	height: 1.6rem;
	left: 1.2rem;
	position: absolute;
	top: 1.5rem;
	width: 1.6rem;
}

nav li {
	display: none;
}

#buttons {
	text-align: center;
}

#buttons a {
	border-radius: 0.5rem;
	color: white;
	display: inline-block;
	height: 3.5rem;
	line-height: 3.5rem;
	padding: 0 1rem;
	text-decoration: none;
}

a[href="#learn"] {
	background-color: #888888;
}

a[href="#join"] {
	background-color: #ea4c89;
}

#filter {
	background-color: white;
	position: relative;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(117,117,117,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(117,117,117,1);
	box-shadow: 0px 2px 5px 0px rgba(117,117,117,1);
}

#filter a {
	background-image: url('/05_Dribbble/assets/spritesheet.png');
	background-repeat: no-repeat;
	background-position: 150% -1.7rem;
	color: black;
	padding-right: 25px;
	text-decoration: none;
}

#filter ul {
	list-style: none;
	text-align: center;
}

#filter li {
	display: inline-block;
	margin: 1rem 0;
}

#filter a[alt="Action Grid"] {
	background-image: url('/05_Dribbble/assets/spritesheet.png');
	background-repeat: no-repeat;
	background-position: 0 -0.2rem;
	display: inline-block;
	height: 1.6rem;
	padding: 0;
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 1.6rem;
}
