h1 {
	background-image: url(/04_AListApart/assets/header.svg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-top: -21px;
	text-indent: -99999px;
}

nav {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid gray;
	height: 37px;
	position: absolute;
	top: 0;
	width: 100%;
}

.hamburger {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 37px;
	height: 37px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.hamburger:focus {
	outline: none;
}

.hamburger span {
	display: block;
	position: absolute;
	top: 16px;
	left: 8px;
	right: 8px;
	height: 4px;
	background-color: black;
}

.hamburger span::before,
.hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: black;
	content: '';
}

.hamburger span::before {
	top: -6px;
}

.hamburger span::after {
	bottom: -6px;
}

nav ul {
	list-style-type: none;
}

nav li {
	float: left;
	margin-right: 21px;
}

nav a {
	color: black;
	font-family: Arial, sans-serif;
	font-weight: bolder;
	line-height: 37px;
	text-decoration: none;
	text-transform: uppercase;
}

footer p {
	background-image: url(/04_AListApart/assets/footer.svg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 37px;
	text-indent: -99999px;
}
