body {
	min-width: 350px;
}

/**
* Loading Styles
*/

.loading nav,
.loading main {
	display: none;
}

.loading h1 {
	display: block;
	font-size: 4em;
	margin-top: 40vh;
	text-align: center;
}

/**
* Main Styles
*/

h1 {
	display: none;
}

nav {
	padding: 3em 1.25em 0 1.25em;
}

span {
	display: inline-block;
	font-size: 2em;
	text-align: center;
	width: 47%;
}

a {
	color: black;
	display: inline-block;
	text-decoration: none;
	width: 25%;
}

a:nth-child(3) {
	text-align: right;
}

section, main {
	display: block;
	height: 200px;
	position: absolute;
	top: 25vh;
	transition: left 1s;
	width: 100%;
}

section {
	font-size: 2em;
	left: -100%;
}

section p {
	padding: 0 1.25em 0 1.25em;
}

/**
* Image Styles
*/

main {
	left: 0%;
}

main div {
	margin-bottom: 5em;
}

main h2 {
	font-size: 1.5em;
	text-align: center;

}

img {
	display: block;
	margin: 0 auto 1em auto;
}

.img-tall {
	width: 50%;
}

.img-wide {
	width: 90%;
}

@media (min-width: 750px) {
}
